@using Airport.Shared.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

@model X.PagedList.IPagedList<Ticket>

@{
    ViewData["Title"] = "Ticket";
}

<h1>Ticket</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>Input passenger name: </p>
    @Html.TextBox("searchName", ViewBag.CurrentFilter as string)
    <p><input type="submit" value="Send" /></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Number seat
            </th>
            <th>
                Price
            </th>
            <th>
                Fullname
            </th>
            <th>
                Number race
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race.NumberRace)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter=ViewBag.CurrentFilter }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})
